.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
}
.nested-item{
    display: grid;
    grid-gap: 10px;
}
.item{
    background-color: darkcyan;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
}
.item:hover{
    background-color: rgb(245, 234, 80);
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    border-radius: 50px;
    box-shadow: 4px 6px 9px 2px red, inset 4px 7px 10px 0px rgb(26, 231, 221);
}