body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    box-sizing: border-box;
    color: red;
    margin-bottom: 4px;
    padding: 4px;
    width: 400px;

}
.percent{
    font-size: 200%;
}